.banner {
	@include transition(.3s);
	background: $black;
	color: $white;
	display: block;
	font-size: 1.3em;
	padding: 1.5em 1.25em;
	text-align: center;
	width: 100%;

	@include media($medium-screen) {
		font-size: 1.5em;
	}
}

.banner__inner {
	@extend %outer-container;
}

.banner__body {
	@include transition(.3s);
	display: inline-block;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 1.3;
	margin: 0 0 .3125em;
	text-decoration: none;
	text-transform: uppercase;
}

.banner__emphasis {
	color: $orange;
	font-weight: 600;
}

.banner__sub {
	font-size: .625em;
	font-style: italic;
	line-height: 1.3;
	margin: 0 0 3.333333333em;
}

.banner__sub-note {
	display: block;

	@include media($medium-screen) {
		display: inline;
	}
}

.banner__input {
	border: 0;
	color: #666;
	display: block;
	font-size: .75em;
	margin: 0 auto .625em;
	outline: none;
	padding: .75em 1em;
	width: 100%;

	@include media($medium-screen) {
		display: inline-block;
		width: 40%;
	}
}
