.banner {
	@include transition(.3s);
	background: $blue;
	color: $white;
	display: block;
	font-size: 1em;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 1.5;
	padding: .3125em 1.25em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;

	@include media($medium-screen) {
		font-size: 1.5em;
	}
}

.banner__inner {
	@extend %outer-container;
}

.banner__body {
	@include transition(.3s);
	border-bottom: solid 2px $blue;
	display: inline-block;
}

.banner:hover {
	background: #834c96;
	color: $white;

	.banner__body {
		border-color: $white;
	}
}
