.banner {
	background: $black;
	color: $white;
	display: block;
	font-size: 1em;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 1.5;
	padding: .3125em 1.25em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;

	@include media($medium-screen) {
		font-size: 1.5em;
	}
}

.banner__inner {
	@extend %outer-container;
}

.banner__strong {
	color: $orange;
	font-weight: 600;
}
