.btn {
	@include transition(.3s);
	background: $blue;
	color: $white;
	font-size: 1.5em;
	font-weight: 600;
	letter-spacing: 1px;
	padding: .78125em 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		background: lighten($blue, 2.5%);
	}
}

.btn--dark {
	@extend .btn;
	background: $black;

	&:hover {
		background: lighten($black, 2.5%);
	}
}
