.btn {
	@include transition(.3s);
	background: $blue;
	border: 0;
	color: $white;
	cursor: pointer;
	font-weight: 600;
	letter-spacing: 1px;
	outline: none;
	padding: .78125em 1.25em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		background: lighten($blue, 2.5%);
	}
}

.btn--dark {
	@extend .btn;
	background: $black;

	&:hover {
		background: lighten($black, 2.5%);
	}
}

.btn--small-pink {
	@extend .btn;
	background: $pink;
	display: block;
	font-size: .75em;
	padding: .8em 1.25em;
	width: 100%;

	@include media($medium-screen) {
		display: inline-block;
		width: auto;
	}

	&:hover {
		background: lighten($pink, 2.5%);
	}
}
