.btn {
	background: $blue;
	color: $white;
	font-size: 1.5em;
	font-weight: 600;
	letter-spacing: 1px;
	padding: .78125em 0;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}

.btn--dark {
	@extend .btn;
}
