.callout {
	background: url('..//img/bg-masthead.jpg') no-repeat 0 0;
	background-size: cover;
	color: $white;
	min-height: 445px;
	overflow: hidden;
	padding: 10px 20px;
	text-align: center;
	width: 100%;
}

.callout__inner {
	@extend %outer-container;
}

.callout__heading {
	font-size: 3em;
	font-weight: 400;
	margin: 2.8em 0 1em;
	text-transform: uppercase;
}
