$example-large: 56.25em;

.examples {
	@extend %outer-container;
	@extend %row-padd;
	@include display(flex);
	@include flex-wrap(wrap);
	padding-bottom: 2.5em;
}

.example {
	padding: 2.5em 1em;
	width: 100%;

	@include media($example-large) {
		width: 50%;
	}
}

.example__title {
	font-size: 1.5em;
	font-weight: 600;
	text-transform: uppercase;
}

.example__link {
	@include transition(.3s);
	color: $black;
	text-decoration: none;

	&:hover {
		color: $blue;
	}
}

.example__icon {
	font-size: .75em;
	margin-left: .625em;
}
