.features {
	overflow: hidden;
	text-align: center;

	@include media($large-screen) {
		text-align: left;
	}
}

.feature {
	@extend %outer-container;
	@extend %row-padd;
	position: relative;

	&:first-of-type .feature__img-tag {
	    margin-bottom: 0;
	}
}

.feature__align {
	@include media($large-screen) {
		@include transform(translateY(-50%));
		position: absolute;
		top: 50%;
		width: 100%;
	}
}

.feature__align--center {
	@extend .feature__align;
	text-align: center;
}

.feature__col {
	margin: 2.5em 0;
	position: relative;

	@include media($large-screen) {
		margin: 0;
		min-height: 550px;
	}
}

.feature__col--small {
	@extend .feature__col;

	@include media($large-screen) {
		@include span-columns(5);
	}
}

.feature__col--large {
	@extend .feature__col;

	@include media($large-screen) {
		@include span-columns(6);
		@include shift(1);
	}
}

.feature__col--large-right {
	@extend .feature__col--large;

	@include media($large-screen) {
		float: right;
	}
}

.feature__col--large-center {
	@extend .feature__col;

	@include media($large-screen) {
		@include span-columns(5);
		@include shift(1.5);
	}
}

.feature__img-tag {
	margin-bottom: 2.5em;
	max-width: 100%;

	@include media($large-screen) {
		margin: 0;
	}
}

.feature__heading {
	font-size: 1.875em;
	font-weight: 100;
	margin-bottom: .208333333em;
	// text-transform: uppercase;

	@include media($small-screen) {
		font-size: 2.5em;
	}

	@include media($medium-screen) {
		font-size: 3em;
	}
}

.feature__body {
	font-size: 1em;
	font-weight: 100;
	line-height: 1.5;

	@include media($large-screen) {
		font-size: 1.125em;
	}
}

.feature__link {
	color: $blue;
	display: block;
	margin-bottom: .625em;
	text-decoration: none;
}
