.features {
	overflow: hidden;
}

.feature {
	@extend %outer-container;
	@extend %row-padd;
	position: relative;
}

.feature__align {
	@include transform(translateY(-50%));
	position: absolute;
	top: 50%;
	width: 100%;
}

.feature__align--center {
	@extend .feature__align;
	text-align: center;
}

.feature__col {
	min-height: 550px;
	position: relative;
}

.feature__col--small {
	@extend .feature__col;
	@include span-columns(5);
}

.feature__col--large {
	@extend .feature__col;
	@include span-columns(6);
	@include shift(1);
}

.feature__col--large-center {
	@extend .feature__col;
	@include span-columns(5);
	@include shift(1.5);
}

.feature__img-tag {
	max-width: 100%;
}

.feature__heading {
	font-size: 3em;
	font-weight: 400;
	margin-bottom: .208333333em;
	text-transform: uppercase;
}

.feature__body {
	font-size: 1.125em;
	line-height: 1.5;
}

.feature__link {
	color: $blue;
	text-decoration: none;
}
