@font-face {
    font-family: 'ProximaOpenShare';
    src: url('../fonts/proxima/ProximaNova_ExtraBold.eot');
    src: url('../fonts/proxima/ProximaNova_ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima/ProximaNova_ExtraBold.woff') format('woff'),
         url('../fonts/proxima/ProximaNova_ExtraBold.ttf') format('truetype'),
         url('../fonts/proxima/ProximaNova_ExtraBold.svg#ProximaOpenShare') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaOpenShare';
    src: url('../fonts/proxima/ProximaNova_Semibold.eot');
    src: url('../fonts/proxima/ProximaNova_Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima/ProximaNova_Semibold.woff') format('woff'),
         url('../fonts/proxima/ProximaNova_Semibold.ttf') format('truetype'),
         url('../fonts/proxima/ProximaNova_Semibold.svg#ProximaOpenShare') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaOpenShare';
    src: url('../fonts/proxima/ProximaNova_Regular.eot');
    src: url('../fonts/proxima/ProximaNova_Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima/ProximaNova_Regular.woff') format('woff'),
         url('../fonts/proxima/ProximaNova_Regular.ttf') format('truetype'),
         url('../fonts/proxima/ProximaNova_Regular.svg#ProximaOpenShare') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaOpenShare';
    src: url('../fonts/proxima/ProximaNova_Light.eot');
    src: url('../fonts/proxima/ProximaNova_Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima/ProximaNova_Light.woff') format('woff'),
         url('../fonts/proxima/ProximaNova_Light.ttf') format('truetype'),
         url('../fonts/proxima/ProximaNova_Light.svg#ProximaOpenShare') format('svg');
    font-weight: 200;
    font-style: normal;
}
