%header-link {
	color: $white;
	text-decoration: none;
}

.header {
	@extend %row;
}

.header__logo {
	float: left;
	font-size: 2.25em;
	font-weight: 200;
	letter-spacing: 5px;
	margin: .638888889em 0 0 0;
	text-transform: uppercase;
}

.header__logo-strong {
	font-weight: 600;
}

.header__logo-link {
	@extend %header-link;
}

.header__nav {
	float: right;
	margin-top: 1.875em;
}

.header__nav-list {
	margin: 0;
}

.header__nav-item {
	display: inline-block;
	font-size: 1.25em;
	font-weight: 600;
	margin-left: 2em;
	letter-spacing: 3px;
}

.header__nav-link {
	@extend %header-link;
}
