.masthead {
	background: url('../img/bg-masthead.jpg') no-repeat center center;
	background-size: cover;
	color: $white;
	min-height: 800px;
	padding: .625em 0;
	width: 100%;
}

.masthead--small {
	@extend .masthead;
	min-height: 900px;

	@include media($large-screen) {
		min-height: 530px;
	}
}

.masthead__inner {
	@extend %outer-container;
}

.masthead__content {
	margin-top: 3.5em;
	overflow: hidden;
	text-align: center;

	@include media($medium-screen) {
		margin-top: 6.25em;
	}
}

.masthead--small .masthead__content {
	margin-top: 6em;
}

.masthead__copy {
	@include span-columns(10);
	@include shift(1);
	overflow: hidden;
}

.masthead__heading {
	font-size: 1.875em;
	font-weight: 800;
	line-height: 1;
	margin: 0 0 .322580645em;
	text-transform: uppercase;

	@include media($small-screen) {
		font-size: 2.5em;
	}

	@include media($medium-screen) {
		font-size: 3.875em;
	}
}

.masthead__body {
	font-size: 1em;
	line-height: 1.5;
	margin: .555555556em 0 0;

	@include media($large-screen) {
		font-size: 1.125em;
		padding: 0 6.25em;
	}
}

.masthead__ctas {
	@extend %row;
	clear: left;
	overflow: hidden;
	padding-top: 2em;
}
