.masthead {
	background: url('/assets/img/bg-masthead.jpg') no-repeat 0 0;
	background-size: cover;
	color: $white;
	min-height: 800px;
	padding: 10px 0;
	width: 100%;
}

.masthead__inner {
	@extend %outer-container;
}

.masthead__content {
	margin-top: 7.8125em;
	overflow: hidden;
	text-align: center;
}

.masthead__copy {
	@include span-columns(10);
	@include shift(1);
	overflow: hidden;
}

.masthead__heading {
	font-size: 3.875em;
	font-weight: 800;
	line-height: 1;
	margin: 0 0 .322580645em;
	text-transform: uppercase;
}

.masthead__body {
	font-size: 1.125em;
	line-height: 1.5;
	margin: .555555556em 0 0;
	padding: 0 6.25em;
}

.masthead__ctas {
	@extend %row;
	clear: left;
	padding-top: 5em;
	overflow: hidden;
}
