$white: #fff;
$blue: #4f70d6;
$black: #283137;

$column: 5em !global;
$gutter: 1.25em !global;

@import '../bourbon/bourbon';
@import '../neat/neat';
@import 'normalize';
@import 'fonts';
@import 'base';
@import 'header';
@import 'masthead';
@import 'btn';
@import 'cta';
@import 'feature';
@import 'callout';
@import 'footer';
